
body{
    padding-right: 0px;
}



.myTags{
    margin-top: 16px;
}

@media screen and (min-width: 1000px) {


    .myBio{
        width: 50%;
        margin-left: 36px;
        padding: 12px;
        font-size: 18px;
    }

    body{
        padding-right: 64px;
    }

}



.tagTextContainer{
    /* width: 50%; */
    margin-left: 36px;
    padding: 12px;

}


.myBio{

    margin-left: 26px;
    padding: 12px;
    font-size: 20px;
    color: #ffffffda;

}

#sectionHeadingLabels{
    font-size: 24px;
    margin-left: 4px;
    margin-bottom: 12px;
    font-weight: bold;
    color: white;
}


#labelTagText{
    background-image: linear-gradient(to right,red, yellow);
    padding: 4px 16px;
    font-size: 14px;
    display: inline-block;
    border-radius: 4px;
    margin: 4px;
}

