body{
    background-color: #191d2b;
    color: white;
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 64px;
    margin-left: 0px;
    padding-bottom: 150px;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    -khtml-user-select: none;
    -o-user-select: none;
     user-select: none;          /* Likely future */    

}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    
}

.introSection{
    margin-left: 64px;
    margin-right: 32px;
}

.linksSection a:link{
    text-decoration: none;
    color: white;
}

.linksSection a:visited{
    color: white;
}

.introductionHeading{
    text-align: center;
    font-size: 38px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color: rgb(0, 255, 0); */
}

#introPassage{
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: left;

}

.linksSection{

    font-weight: bold;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.rippleLogoButton{

    border: 1.5px;
    border-radius: 100px;
    border-color: #27ae60;
    border-style: solid;
    margin-bottom: 8px;
    display: inline-block;


}

.rippleLogoButton:active{
    background-color: rgb(0, 255, 0);
}

#buttonSideLogo{

    aspect-ratio: 1/1;
    height: 52px;
    vertical-align: middle;
    margin-left: 18px;

}

#linkBtnText{
    
    vertical-align: middle;
    margin-left: 18px;
}

.navBar{

    position: fixed;
    bottom: 0px;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: flex-end;
    margin-right: 34px;

}

.navBarBtn{

    border-radius: 200px;
    padding: 15px 16px;
    background-color: #454e56;
    margin: 16px 4px;
    align-items: center;
    box-shadow: 0px 1px 12px 6px rgb(0 0 0 / 2%), -1px 1px 20px 0 rgb(0 0 0 / 4%);
}

.navBarBtn:active{
    padding: 10px 12px;
}

.navBarBtn img {
    height: 26px;
    vertical-align: middle;
}

.aboutMeBg{
    opacity: 8%;
    font-size: 70px;
    text-align: center;
    position: relative;
    bottom: 80px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

@media screen and (max-width: 600px){

    .navBar{

        width: 100%;
        margin: 0px;
        height: auto;
        background-color: #2a2e35;
        display: flexbox;
        flex-direction: row;
        align-items: center;
        left: 0;
    
    }

    .navBarBtn{
        background-color: #454e56;

    }

    .introSection{
        margin-left: 64px;
        margin-right: 0px;
    }

}

@media screen and  (max-width: 470px) {
    
    .aboutMeBg{
        top: -130px;
        line-height: 100px;
    }
}