.projectCard{
    background-color: #3b3b3b;
    padding: 1rem 1.5rem;
    margin-bottom: 12px;
}

#projectTitle{
    font-size: 1.1rem;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

#projectDescription{

    margin-top: 12px;
    font-family: sans-serif;
    color: white;
    font-size: 0.8rem;
    line-height: 1rem;
}

#projectLinkButton{

    margin-top: 12px;
    background-color: rgb(51, 255, 0);
    color: rgba(0, 0, 0, 0.562);
    padding: 8px 12px;
    font-size: 0.8rem;
    border-style: hidden;
    border-radius: 12px;
    font-weight: bold;
    
}