
.backgroundHeading{
    opacity: 7%;
    font-size: 4.54rem;
    text-align: center;
    position: relative;
    margin-right: 4rem;
    bottom: 5rem;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}


.aboutMeHeaderDesign{

    margin-left: 4rem;
    margin-right: 2rem;

}


.introductionHeading{
    text-align: center;
    font-size: 2rem;
    margin-right: 5rem;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color: rgb(0, 255, 0); */
}



@media screen and (max-width: 600px) {

    .aboutMeHeaderDesign{
        margin-right: 0rem;
        margin-left: 4rem;
    }

    .backgroundHeading{
        bottom: 3.5rem;
    }
    
}

@media screen and  (max-width: 430px) {
    
    .backgroundHeading{

         font-size: 3rem;
         letter-spacing: 0px;
         margin-left: -1rem;
         margin-right: 2rem;
         bottom: 3.3rem;
    }

    
    .introductionHeading{
        margin-right: 3rem;
        margin-left: 0px;
    }

    
    .aboutMeHeaderDesign{
        font-size:1.5rem;
        margin-right: 0rem;
        margin-left: 4rem;
    }    

}

@media screen and (max-width: 325px){
        
    .backgroundHeading{

        font-size: 2rem;
        letter-spacing: 0px;
        margin-left: -1rem;
        margin-right: 2rem;
        visibility: collapse;
   }

   
   .introductionHeading{
       margin-right: 3rem;
       margin-left: 0px;
   }

   
   .aboutMeHeaderDesign{
       font-size:1.2rem;
       margin-right: 0rem;
       margin-left: 4rem;
   }    

}



@media screen and  (min-width: 430px) {
    
    .backgroundHeading{

        margin-right: 4rem;
        margin-left: 1rem;
        font-size: 3.4rem;
        letter-spacing: 0px;
    }

    .introductionHeading{
        margin-left: 2rem;
    }


}

@media screen and (min-width: 600px) {

    .aboutMeHeaderDesign{
        margin-right: 0rem;
        margin-left: 4rem;
    }

    .backgroundHeading{
        bottom: 4.5rem;    
        font-size: 4.5rem;
    }
    
}



